<div class="card-container">
    <div class="card">
        <img src="assets/img/licence1.png" alt="Image 1">
        <div class="card-content">
            <h3>Documents Pour Les Licence 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et nisl eu elit consectetur pulvinar
                at velit.</p>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/img1.png" alt="Image 1">
        <div class="card-content">
            <h3>Card Title 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et nisl eu elit consectetur pulvinar
                at velit.</p>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/img1.png" alt="Image 1">
        <div class="card-content">
            <h3>Card Title 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et nisl eu elit consectetur pulvinar
                at velit.</p>
        </div>
    </div>
</div>