body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    margin: 0;
    padding: 0;

}

p {
    font-size: 16px;
}

.contain {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="matricule"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.header-nav {
    display: flex;
    background-color: #36454f;
    padding: 10px;
    margin-bottom: 40px;
    justify-content: center; /* Vous pouvez utiliser d'autres valeurs comme 'flex-start', 'flex-end', 'space-between', etc. */
    align-items: center;
}

.link-nav {
    color: white;
    margin-left: 15px;
}

.link-nav:hover {
    color: aqua;
}

.main-link {
    margin: 15px;

}


/* Main Card */
.card-container {
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;

    flex-wrap: wrap;
    gap: 20px;
    max-width: 100%;
}

.card {
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;;
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    margin-bottom: 10px;
}

.main-logo {
    width: 30%;
    height: 20%;
}

.center-logo {
    width: 60px;
    display: none;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.list {
    margin: 15px;
}

.group-list {
    list-style: none; /* Supprimer les puces par défaut */
    padding: 0;
}

.group-list li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer; /* Effet pointeur sur les éléments de la liste */
}

.group-list li:hover { /* Effet de survol */
    background-color: #f0f0f0;
}

a {
    text-decoration: none;
}

/* Detail page */

.course-container {
    margin: 20px;
}

.course-details {

    margin-top: 52px;
}


.bulletin {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;

}

table {
    width: 100%;
    border-collapse: collapse;

}

.bulletin1 {
    margin: 30px;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}


th {
    background-color: #f2f2f2;
}

p {
    margin-top: 20px;
}

#moyenne {
    font-weight: bold;
}

.present-name {
    text-align: center;
    color: blueviolet;
}

.course-container {
    margin-left: 50px;
    margin-right: 50px;
}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    display: flex;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

footer {

    left: 0;
    bottom: 0;
    padding-bottom: 5px;
    width: 100%;
    background-color: #36454f;
    color: white;
    text-align: center;
    margin-top: 25px;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


@media screen and (min-width: 700px) {
    .card-container {


        flex-wrap: nowrap;
    }

    .card {
        width: 70%;
    }

    .main-logo {
        width: 175px;
    }

    .center-logo {
        display: block;
    }

    .header-nav {
        justify-content: space-between;
    }

    .group-list li {
        margin-left: 20%;
        margin-right: 20%;
    }


}

